{% extends 'base.html.twig' %}

{% block title %}Category List{% endblock %}

{% block body %}

    <a href="{{ url('admin') }}">< Back</a>
    <h1>Category List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn btn-primary"><a href="{{ path('category_new') }}" class="text-light">Creeaza o noua categorie</a></div>


{% endblock %}

