{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}

    <a href="{{ url('admin') }}">< Back</a>
    <h1>Product List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.images.first }}</td>
                <td>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn btn-primary"><a href="{{ path('product_new') }}" class="text-light">Creeaza un nou produs</a></div>


{% endblock %}

